# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/
.pytest_cache/
celerybeat-schedule
*.mo
*.pot

# Virtualenv
.venv/
venv/
ENV/
env/
penv/

# C and C++
*.o
*.lo
*.la
*.slo
*.so
*.a
*.d

# CMake
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
**/Makefile
CMakeLists.txt.user
*.cbp

# IDE
.idea/
*.swp
*.swo
*~
